# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Uploaded files (if user-generated and not part of the codebase)
uploads/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Environment files
.env
